@{
    ViewData["Title"] = "Hakkında";
}

<h1>YurdumuBul (Yurt Rezervasyon Sistemi)</h1>
<br>
<h3>Web Programlama Dönem Projesi</h3>
<br>
<table class="table" style="width: 35%;">
    <thead>
        <th>Ad Soyad</th>
        <th>Öğrenci No</th>
    </thead>
    <tbody>
        <tr>
            <td>MOHAMMED SAMI BA HAMID</td>
            <td>B171200558</td>
        </tr>
        <tr>
            <td>SABAH DAWOD</td>
            <td>B191200554</td>
        </tr>

    </tbody>
</table>
